<div class="admin-container">
    <h2>គ្រប់គ្រងបេក្ខជន</h2>

    <div class="form-box">
        <input type="text" id="candName" placeholder="ឈ្មោះបេក្ខជន">
        <input type="text" id="candParty" placeholder="គណបក្ស">
        <button onclick="saveCandidate()" class="btn-save">រក្សាទុក</button>
    </div>

    <table class="styled-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>ឈ្មោះ</th>
            <th>គណបក្ស</th>
            <th>សកម្មភាព</th>
        </tr>
        </thead>
        <tbody id="candidateTableBody">
        </tbody>
    </table>
</div>